<section id="hero" class="section-container px-4 py-10 flex flex-col justify-evenly text-center md:flex-row gap-4 md:justify-around md:items-center">
  <div class="my-10 md:my-0 md:w-[60%]">
    <h1 class="text-6xl lg:text-7xl font-bold mb-8 md:mb-4 lg:mb-8">
      <%= t(".heading") %>
    </h1>
    <p class="text-2xl md:text-3xl">
      <%= t(".subheading") %>
    </p>
  </div>
  <div class="md:w-[40%]">
    <%= render_svg("developer-activity-animate", class: "w-2/3 md:w-full mx-auto") %>
  </div>
</section>

<section id="recent-posts" class="bg-offWhite">
  <div class="section-container px-4 py-10">
    <div class="flex items-center justify-between mb-4">
      <h2 class="font-semibold text-[18px]">Recent Posts</h2>
      <h2 class="text-sm text-lightBlue hover:text-lightRed">
        <a href="#">View All</a>
      </h2>
    </div>

    <div class="flex flex-col gap-4 md:flex-row">
      <a href="#" class="bg-white p-6 rounded md:w-[50%] hover:shadow-lg hover:-translate-y-1 ease-in-out duration-200">
        <h2 class="mb-3 font-semibold text-[26px]">Escape Tutorial Hell Tips</h2>

        <p class="mb-4 text-[18px]">
          <span class="mr-4">2021-05-31</span> |
          <span class="ml-4 text-slate-500">Guide</span>
        </p>

        <p class="mb-4">I've been into tutorial hell, and it's not good. Here are some ways to escape from it.</p>
      </a>

      <a href="#" class="bg-white p-6 rounded md:w-[50%] hover:shadow-lg hover:-translate-y-1 ease-in-out duration-200">
        <h2 class="mb-3 font-semibold text-[26px]">Website Layout Without Design Skills, A Summary</h2>

        <p class="mb-4 text-[18px]">
          <span class="mr-4">2021-05-30</span> |
          <span class="ml-4 text-slate-500">Design</span>
        </p>

        <p class="mb-4">A guide on how to layout a website design even without design skils.</p>
      </a>
    </div>
  </div>
</section>

<section id="recent-projects">
  <div class="section-container px-4 py-10">
    <div class="flex items-center justify-between mb-4">
      <h2 class="font-semibold text-[18px]">Recent Projects</h2>
      <h2 class="text-sm text-[#00a8cc] hover:text-[#ff6464]">
        <a href="#">View All</a>
      </h2>
    </div>

    <ul class="grid md:grid-cols-2 gap-8">
      <li>
        <figure class="relative rounded-2xl">
          <%= image_tag("age-calculator-app-1080", class: "w-full h-[300px] md:h-[275px] object-cover rounded-2xl shadow-md") %>
          <figcaption
            class="absolute top-0 left-0 w-full h-full bg-darkBlue rounded-2xl p-4 transition-opacity duration-500 text-white opacity-0">
            <div class="w-full h-full flex flex-col items-center justify-center text-center">
              <h2 class="text-xl mb-2">Project name</h2>
              <p class="mb-4">Project description</p>
              <div class="flex gap-2">
                <a
                  href="#"
                  target="_blank"
                  class="border border-lightRed px-4 py-1 text-lightRed rounded-full hover:bg-lightRed hover:text-white transition-colors duration-300"
                >
                  Live Site
                </a>
                <a
                  href="#"
                  target="_blank"
                  class="border border-lightBlue px-4 py-1 text-lightBlue rounded-full hover:bg-lightBlue hover:text-white transition-colors duration-300"
                >
                  Source Code
                </a>
              </div>
            </div>
            <div class="absolute bottom-0 text-white left-[50%] -translate-x-[50%] translate-y-[50%]">
              <ul class="flex gap-1">
                <li class="w-[40px] h-[40px] bg-white p-[4px] rounded-full flex items-center justify-center shadow-[0_3px_5px_-2px_rgba(0,0,0,0.3)]">
                  <%= render_svg("rails", class: "w-full h-full rounded-full") %>
                </li>
                <li class="w-[40px] h-[40px] bg-white p-[4px] rounded-full flex items-center justify-center shadow-[0_3px_5px_-2px_rgba(0,0,0,0.3)]">
                  <%= render_svg("tailwind", class: "w-full h-full rounded-full") %>
                </li>
              </ul>
            </div>
          </figcaption>
        </figure>
      </li>
      <li>
        <figure class="relative rounded-2xl">
          <%= image_tag("trivia-whiz-app", class: "w-full h-[300px] md:h-[275px] object-cover rounded-2xl shadow-md") %>
          <figcaption
            class="absolute top-0 left-0 w-full h-full bg-darkBlue rounded-2xl p-4 transition-opacity duration-500 text-white opacity-100">
            <div class="w-full h-full flex flex-col items-center justify-center text-center">
              <h2 class="text-xl mb-2">Project name</h2>
              <p class="mb-4">Project description</p>
              <div class="flex gap-2">
                <a
                  href="#"
                  target="_blank"
                  class="border border-lightRed px-4 py-1 text-lightRed rounded-full hover:bg-lightRed hover:text-white transition-colors duration-300"
                >
                  Live Site
                </a>
                <a
                  href="#"
                  target="_blank"
                  class="border border-lightBlue px-4 py-1 text-lightBlue rounded-full hover:bg-lightBlue hover:text-white transition-colors duration-300"
                >
                  Source Code
                </a>
              </div>
            </div>
            <div class="absolute bottom-0 text-white left-[50%] -translate-x-[50%] translate-y-[50%]">
              <ul class="flex gap-1">
                <li class="w-[40px] h-[40px] bg-white p-[4px] rounded-full flex items-center justify-center shadow-[0_3px_5px_-2px_rgba(0,0,0,0.3)]">
                  <%= render_svg("rails", class: "w-full h-full rounded-full") %>
                </li>
                <li class="w-[40px] h-[40px] bg-white p-[4px] rounded-full flex items-center justify-center shadow-[0_3px_5px_-2px_rgba(0,0,0,0.3)]">
                  <%= render_svg("tailwind", class: "w-full h-full rounded-full") %>
                </li>
              </ul>
            </div>
          </figcaption>
        </figure>
      </li>
    </ul>
  </div>
</section>
