<h1 class="mb-5">New Article</h1>

<%= form_with model: @blog_post, local: true do |form| %>
  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="field mb-5">
    <%= form.label :body %>
    <%= form.text_area :body %>
  </div>

  <div class="field mb-5">
    <%= form.label "Publish" %>
    <%= form.check_box :published %>
  </div>

  <div class="actions">
    <%= form.submit class: "bg-indigo-500 text-white py-2 px-3" %>
  </div>
<% end %>
